.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    background: var(--button-bg, rgba(50, 221, 65, 0.82));
}

.button:hover {
    background: var(--button-hover-bg, rgba(50, 221, 65, 0.82));
}

.delete {
    --button-bg: rgba(221, 50, 76, 0.82);
    --button-hover-bg: rgba(221, 50, 76, 0.62);
    margin: 0 5px;
}
